.direnv
.envrc
.env
*.pem
*.tar.gz

# Created by various Python tools
__pycache__
dist
**/*.egg-info
.hatch
.pytest_cache

# Created by scripts
config.csv
data.json
tdms_files/*
previous_downloads.txt
*_logs.txt
src/vismod_web/user_csvs/*

# some prettier jsons
.prettierrc
package-lock.json
package.json
node_modules
