/* Main layout */
#selection-controls {
    display: flex;
  }
  
  @media (max-width: 800px) {
    #selection-controls {
      flex-direction: column;
    }
  }
  
  #selection-controls > section {
    flex: 1;
  }
  
  #selection-info {
    padding: 1rem;
  }