html {
    height: 100%;
}

body {
    height: 100vh;
}

body * {
    font-family: 'open sans', Helvetica, sans-serif;
}

figure {
    margin: 0;
}

figcaption {
    margin: 0.5rem 1rem;
}

button {
    /* Largely copied from PureCSS */
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: rgba(0, 0, 0, .8);
    border: none transparent;
    background-color: #e6e6e6;
    text-decoration: none;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

button:disabled {
    border: none;
    opacity: .4;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
}

button:not([disabled]):hover {
    text-decoration: underline;
    background-color: #d1d1d1;
}

.p-em {
    font-weight: bold;
}

/*****
Navigation Bar
*/

#navigation-bar {
    display: flex;
    justify-content: space-between;
    min-height: 4rem;
    border-bottom: thick double #202020;
    font-size: large;
    padding: 0.5rem 2rem;
}

@media (max-width: 800px) {
    #navigation-bar {
        flex-direction: column;
    }
}

#navigation-bar>nav {
    display: flex;
    min-width: 50%;
    justify-content: space-around;
}

#navigation-bar>h1 {
    padding: 0;
    margin: 0;
}

.navigation-item {
    display: table;
}

.navigation-item * {
    display: table-cell;
    padding: 10px 0;
    text-align: center;
}

.navigation-item a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    margin: 0 auto;
}

.navigation-item a:hover {
    background-color: #DDD;
}

/***** 
Main layout
**/

#selection-controls {
    display: flex;
}

@media (max-width: 800px) {
    #selection-controls {
        flex-direction: column;
    }
}

#selection-controls>section {
    flex: 1;
}

#selection-info {
    padding: 1rem;
}


/*****
    Controls
*/

#dateRangeBox {
    display: flex;
    flex-direction: column;
    font-size: medium;
    margin-bottom: 1rem;
    gap: 0.25rem;
}

.dateSelectorBox {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.dateSelectorBox label:first-child {
    width: 30%;
}

.plot-button-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#cur-sensor-info-panel {
    min-height: 2em;
    margin-left: 1rem;
    font-style: italic;
}

/* For hiding labels */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}



/* Indicates that circle and trianlges on the bridge graphic are clickable */
.sensor {
    cursor: pointer;
}

/* Hides the initial highlights */

.hl-sensor {
    display: none;
}

[id="17B"]:hover #hl-17B {
    display: block;
}

[id="10B"]:hover #hl-10B {
    display: block;
}

[id="2B"]:hover #hl-2B {
    display: block;
}

[id="2A"]:hover #hl-2A {
    display: block;
}

[id="10A"]:hover #hl-10A {
    display: block;
}

[id="17A"]:hover #hl-17A {
    display: block;
}



.bridge-area {
    /* Defaults to this without dark mode */
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bridge-area>caption {
    padding: 1rem;
}

/* The Modal (background) */
#modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
#modal-body {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    color: black;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#data-info {
    /* display: table; */
    display: flex;
    flex-direction: column;
}

#theme-square {
    fill: #fff;
}

.dark #theme-square {
    fill: #000;
}

#sun-icon {
    display: block;
}

.dark #sun-icon {
    display: none;
}

/* Hides moon-icon without dark mode */
#moon-icon {
    display: none;
}

.dark #moon-icon {
    display: block;
}

.load-indicator-text {
    padding: 1rem;
    font-style: italic;
}

#bridge-frame {
    fill: #f0f8ff;
    stroke: #000;
}

#bridge-path {
    stroke: #000;
}

.dark #bridge-frame {
    stroke: #f0f8ff;
    fill: #000;
}

.dark #bridge-path {
    fill: #f0f8ff;
}

/*****
    Plotly

    These elements are created by JS after a plot is requested.
*/

.plot-frame {
    width: 100%;
    min-height: 525px;
    border: none;
    overflow-x: hidden;
    overflow-y: hidden;
    display: block;
}

.plot-remove-button {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    opacity: 0.5;
}