/* COLOR SCHEME */
html[data-theme="light"] {
  --bg-main: rgb(242, 242, 242);
  --bg-header: rgb(187, 187, 187);
  --bg-emph: rgb(170, 166, 159);
  --bg-emph-mild: rgb(194, 190, 182);
  --text-primary: #000000;
  --text-secondary: rgb(40, 40, 40);
  --control-outline: rgb(0, 0, 0);
  --border-primary: rgb(0, 144, 87);
  --border-secondary: rgb(0, 31, 78);
  --overlay: rgba(0, 0, 0, 0.256);
}

#theme-square {
  fill: var(--bg-header);
}

#bridge-frame {
  fill: #f0f8ff;
  stroke: #000;
}

#bridge-path {
  stroke: #000;
}

.dark #bridge-frame {
  stroke: #f0f8ff;
  fill: #000;
}

.dark #bridge-path {
  fill: #f0f8ff;
}
