{% extends "base.html" %}
{% block title %} About This Site {% endblock %}
{% block body %}

<header id="navigation-bar">
  <h1>
    <a href="/">
      PNB Data Portal
    </a>
  </h1>
  <nav>
    <div class="navigation-item">
      <a href="/about-pnb.html">About PNB</a>
    </div>
    <!-- Created with Inkscape (http://www.inkscape.org/) -->
    <svg width=3.5rem height=3.5rem version="1.1" viewBox="0 0 4.2176 4.2176" xmlns="http://www.w3.org/2000/svg"
      id="theme-svg">
      <g transform="translate(-86.702 -99.094)">
        <g transform="matrix(.26458 0 0 .26458 7.7737 98.192)" fill="#bbb" stroke-width="0">
          <title>clickme</title>
          <rect id="theme-square" class="theme-toggle" x="298.31" y="3.4111" width="15.94" height="15.94" fill="#bbb"
            stroke-width="0" />
        </g>
        <g id="sun-icon" class="theme-toggle" transform="matrix(.26458 0 0 .26458 7.7656 98.192)">
          <title>sun-icon</title>
          <circle cx="306.28" cy="11.381" r="3.3204" fill-opacity="0" stroke="#000" stroke-linejoin="round"
            stroke-width=".64466" />
          <g fill="none" stroke="#000" stroke-linecap="round">
            <g stroke-width=".668">
              <path d="m306.28 16.162v2.4634" />
              <path d="m301.61 11.381h-2.4634" />
              <path d="m313.41 11.381h-2.4634" />
              <path d="m306.28 4.1371v2.4634" />
            </g>
            <g stroke-width=".66787px">
              <path d="m309.63 14.733 1.3321 1.3321" />
              <path d="m303.01 14.658-1.3321 1.3321" />
              <path d="m310.89 6.7724-1.3321 1.3321" />
            </g>
            <path d="m301.6 6.6974 1.3321 1.3321" stroke-width=".66787px" />
          </g>
        </g>
        <g id="moon-icon" class="theme-toggle" transform="matrix(.26458 0 0 .26458 11.819 96.43)">
          <title>moon-icon</title>
          <path
            d="m293.55 12.031a6.46 6.46 0 0 1 3.1162 6.384 6.46 6.46 0 0 1-4.6319 5.3863 6.46 6.46 0 0 1-6.7786-2.1251"
            fill-opacity="0" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width=".645" />
          <path d="m285.26 21.677s10.669 1.6443 8.2943-9.6451" fill="none" stroke="#fff" stroke-linecap="round"
            stroke-width=".645" />
        </g>
      </g>
    </svg>
  </nav>
</header>
<main>
  ABOUT SITE
</main>

{% endblock %}