{% extends "base.html" %}
{% block title %} PNB Data Portal - About This Portal {% endblock %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="static/about-site.css">
</head>
<body>
    <main>
        <h1>Who is Team <span class="animated-word">ZATAN</span>?</h1>
        <section class="people-section">

            <section class="person-item">
                <div class="person-image">
                    <img src="static/about-site/zach.jpg" alt="Zach" />
                </div>
                <div class="person-details">
                    <h2><span class="animated-letter">Z</span><span class="name">ach</span></h2>
                    <p class="role">Dev Manager, Peer Team Liaison, Frontend Dev</p>
                    <i class="fas fa-envelope email-icon"></i><a href="mailto:zachary.scott" class="link">zachary.scott</a>
                    <div class="contributions">
                        <ul>
                            <li>Created templated database queries and UI prototyping</li>
                            <li>Created initial working prototype using Plotly library for embeddable, interactive
                                scatter plots</li>
                            <li>Contributed significantly to UML diagrams and mockups for design documents</li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="person-item">
                <div class="person-image">
                    <img src="static/about-site/alex.png" alt="Alex" />
                </div>
                <div class="person-details">
                    <h2><span class="animated-letter">A</span><span class="name">lex</span></h2>
                    <p class="role">Quality Manager, Product Owner, Frontend Dev</p>
                    <i class="fas fa-envelope email-icon"></i><a href="mailto:alexander.bourgoin" class="link">alexander.bourgoin</a>
                    <div class="contributions">
                        <ul>
                            <li>Created the current frontend of the website, overhauling previous work done by Zach & Nick</li>
                            <li>Created current format for configuration file and fetching script</li>
                            <li>Created original script to fetch the data files using Google Drive API</li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="person-item">
                <div class="person-image">
                    <img src="static/about-site/tyler.jpg" alt="Tyler" />
                </div>
                <div class="person-details">
                    <h2><span class="animated-letter">T</span><span class="name">yler</span></h2>
                    <p class="role">Planning Manager, Testing / Backend Dev</p>

                    <i class="fas fa-envelope email-icon"></i><a href="mailto:tyler.harwood" class="link">tyler.harwood</a>
                    <div class="contributions">
                        <ul>
                            <li>Contributed to writing the pre-processing module</li>
                            <li>Worked on unit testing and integration testing for the backend</li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="person-item">
                <div class="person-image">
                    <img src="static/about-site/andres.jpg" alt="Andres" />
                </div>
                <div class="person-details">
                    <h2><span class="animated-letter">A</span><span class="name">ndres</span></h2>
                    <p class="role">Team Lead, Scrum Master, Backend Dev</p>
                    <i class="fas fa-envelope email-icon"></i><a href="mailto:andres.e.vargas" class="link">andres.e.vargas</a>
                    <div class="contributions">
                        <ul>
                            <li>Worked on the database, including importing data, querying, and generating output .csv
                                files</li>
                            <li>Provided functionality to plot different sensors with distinguishable colors on the same
                                legend</li>
                            <li>Made minor contributions to the frontend</li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="person-item">
                <div class="person-image">
                    <img src="static/about-site/nick.png" alt="Nick" />
                </div>
                <div class="person-details">
                    <h2><span class="animated-letter">N</span><span class="name">ick</span></h2>
                    <p class="role">Support Manager, System Administrator</p>
                    <i class="fas fa-envelope email-icon"></i><a href="mailto:nicholas.dieffenbacherkrall" class="link">nicholas.dieffenbacherkrall</a>
                    <div class="contributions">
                        <ul>
                            <li>Created CI/CD pipelines for the web portal</li>
                            <li>Worked on solution for the team's local development environment</li>
                            <li>Administrator of initial demonstration version of the website</li>
                            <li>Made contributions to the server backend</li>
                        </ul>
                    </div>
                </div>
            </section>

        </section>
    </main>
</body>
{% endblock %}

</html>