{% extends "base.html" %}
{% block title %} Viewer {% endblock %}
{% block body %}

<main>
  <article id="selection-controls">
    <section id="selection-info">
      <h3> Visualize or Download Sensor Data </h3>
      <p class="p-em">
        The data available on this site do not reflect the structual integrity of the Penobscot Narrows
        Bridge.
      </p>
      <p> This dataset includes {{data.count}} readings,
        from {{data.start.strftime("%B %d, %Y")}} to
        {{data.stop.strftime("%B %d, %Y")}}.
      </p>
      <div id="dateRangeBox">
        <div>
          <mark>Pick Date Range <strong>(UTC)</strong>:</mark>
        </div>
        <div class="dateSelectorBox">
          <label for="startDate">Start Date:</label>
          <input type="date" id="startDate" name="start-date" />
          <label for="startHour" class="visually-hidden">Start Hour:</label>
          <input type="time" id="startHour" name="start-hour"></select>
        </div>

        <div class="dateSelectorBox">
          <label for="endDate">End Date:</label>
          <input type="date" id="endDate" name="end-date" />
          <label for="endHour" class="visually-hidden">End Hour:</label>
          <input type="time" id="endHour" name="end-hour"></select>
        </div>
      </div>
      <div id="cur-sensor-info-panel">
        <!-- Contains information about the current sensor, if one is selected. -->
      </div>
      <div class="plot-button-box">
        <button disabled id="plot-data-button">
          Plot Data
        </button>
        <button disabled id="download-data-button">
          Download Data
        </button>
        <button id="downloadAllButton">
          Download All Sensor Data
        </button>
      </div>
    </section>
    <section class="bridge-area panel">
      <figure>
        <figcaption>
          Choose a sensor from the diagram below:
        </figcaption>
        <!-- Created with Inkscape (http://www.inkscape.org/) -->
        <svg version="1.1" viewBox="0 0 1447.8 815.98" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <clipPath id="clipPath1131">
              <path
                d="m7.5816 56.897a29.165 49.313 0 0 1 29.165-49.311h1374.3a29.165 49.313 0 0 1 29.165 49.311v700.59a29.165 49.313 0 0 1-29.165 49.312h-1374.3a29.165 49.313 0 0 1-29.165-49.312z"
                fill="#fff" stroke="#000" stroke-width="15.172" />
            </clipPath>
          </defs>
          <g>
            <image width="1447.8" height="814.39" clip-path="url(#clipPath1131)" fill="#ffffff" stroke="#ffffff"
              preserveAspectRatio="none" xlink:href="static/brig.jpg" />
          </g>
          <path
            d="m7.58 57.69a29.165 49.313 0 0 1 29.165-49.311h1374.3a29.165 49.313 0 0 1 29.165 49.311v700.59a29.165 49.313 0 0 1-29.165 49.312h-1374.3a29.165 49.313 0 0 1-29.165-49.312z"
            fill="none" stroke="#000" stroke-width="15.172" />
          <g>
            <g id="17B" class="sensor">
              <path id="hl-17B" class="hl-sensor" d="m115.26 529.28 633.78-279.72" fill="none" stroke="#ff00f6"
                stroke-dasharray="26.4585, 13.2292, 6.61462, 13.2292" stroke-linecap="round" stroke-width="6.6146" />
              <g>
                <circle cx="122.95" cy="532.72" r="52.381" fill="#e1be6a" stroke="#40b0a6" stroke-linecap="round"
                  stroke-width="5" />
                <text transform="matrix(1.6061,0,0,1.6061,879.12,47.933)" x="-493.94681" y="311.37772"
                  font-family="'Times New Roman'" font-size="26.158px"
                  style="font-variant-ligatures:none;line-height:1.25">
                  <tspan x="-493.94681" y="311.37772" font-family="Tahoma" font-size="26.158px"
                    style="font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:none;font-variant-numeric:normal">
                    17B</tspan>
                </text>
              </g>
            </g>
            <g id="10B" class="sensor">
              <path id="hl-10B" class="hl-sensor" d="m341.84 530.72 403.25-195.34" fill="none" stroke="#ff00f6"
                stroke-dasharray="26.4585, 13.2292, 6.61462, 13.2292" stroke-linecap="round" stroke-width="6.6146" />
              <g>
                <circle cx="367.03" cy="541.23" r="52.381" fill="#e1be6a" stroke="#40b0a6" stroke-linecap="round"
                  stroke-width="5" />
                <text transform="matrix(1.6061,0,0,1.6061,1123.2,56.443)" x="-493.94681" y="311.37772"
                  font-family="'Times New Roman'" font-size="26.158px"
                  style="font-variant-ligatures:none;line-height:1.25">
                  <tspan x="-493.94681" y="311.37772" font-family="Tahoma" font-size="26.158px"
                    style="font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:none;font-variant-numeric:normal">
                    10B</tspan>
                </text>
              </g>
            </g>
            <g id="2B" class="sensor">
              <path id="hl-2B" class="hl-sensor" d="m597.86 537.18 146.15-116.34" fill="none" stroke="#ff00f6"
                stroke-dasharray="26.4585, 13.2292, 6.61462, 13.2292" stroke-linecap="round" stroke-width="6.6146" />
              <g>
                <circle cx="633.03" cy="552.8" r="52.381" fill="#e1be6a" stroke="#40b0a6" stroke-linecap="round"
                  stroke-width="5" />
                <text transform="matrix(1.6061,0,0,1.6061,1389.2,68.013)" x="-486.05994" y="311.54379"
                  font-family="'Times New Roman'" font-size="26.158px"
                  style="font-variant-ligatures:none;line-height:1.25">
                  <tspan x="-486.05994" y="311.54379" font-family="Tahoma" font-size="26.158px"
                    style="font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:none;font-variant-numeric:normal">
                    2B</tspan>
                </text>
              </g>
            </g>
            <g id="2A" class="sensor">
              <path id="hl-2A" class="hl-sensor" d="m787.82 422.64 118.86 121.37" fill="none" stroke="#ff00f6"
                stroke-dasharray="26.4585, 13.2292, 6.61462, 13.2292" stroke-linecap="round" stroke-width="6.6146" />
              <g>
                <circle cx="903.13" cy="562.71" r="52.381" fill="#e1be6a" stroke="#40b0a6" stroke-linecap="round"
                  stroke-width="5" />
                <text transform="matrix(1.6061,0,0,1.6061,1659.3,77.923)" x="-486.05994" y="311.54379"
                  font-family="'Times New Roman'" font-size="26.158px"
                  style="font-variant-ligatures:none;line-height:1.25">
                  <tspan x="-486.05994" y="311.54379" font-family="Tahoma" font-size="26.158px"
                    style="font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:none;font-variant-numeric:normal">
                    2A</tspan>
                </text>
              </g>
            </g>
            <g id="10A" class="sensor">
              <path id="hl-10A" class="hl-sensor" d="m1126.8 548.67-339.69-210.42" fill="none" stroke="#ff00f6"
                stroke-dasharray="26.4585, 13.2292, 6.61462, 13.2292" stroke-linecap="round" stroke-width="6.6146" />
              <g>
                <circle cx="1121.2" cy="570.15" r="52.381" fill="#e1be6a" stroke="#40b0a6" stroke-linecap="round"
                  stroke-width="5" />
                <text transform="matrix(1.6061,0,0,1.6061,1877.4,85.363)" x="-493.94681" y="311.37772"
                  font-family="'Times New Roman'" font-size="26.158px"
                  style="font-variant-ligatures:none;line-height:1.25">
                  <tspan x="-493.94681" y="311.37772" font-family="Tahoma" font-size="26.158px"
                    style="font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:none;font-variant-numeric:normal">
                    10A</tspan>
                </text>
              </g>
            </g>
            <g id="17A" class="sensor">
              <path id="hl-17A" class="hl-sensor" d="M 1323.9,553.7 786,252.07" fill="none" stroke="#ff00f6"
                stroke-dasharray="26.4585, 13.2292, 6.61462, 13.2292" stroke-linecap="round" stroke-width="6.6146" />
              <g>
                <circle cx="1329.4" cy="564.37" r="52.381" fill="#e1be6a" stroke="#40b0a6" stroke-linecap="round"
                  stroke-width="5" />
                <text transform="matrix(1.6061,0,0,1.6061,2085.6,79.583)" x="-493.94681" y="311.37772"
                  font-family="'Times New Roman'" font-size="26.158px"
                  style="font-variant-ligatures:none;line-height:1.25">
                  <tspan x="-493.94681" y="311.37772" font-family="Tahoma" font-size="26.158px"
                    style="font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:none;font-variant-numeric:normal">
                    17A</tspan>
                </text>
              </g>
            </g>
            <g id="wind" class="sensor triangle">
              <path d="m125.4 383.83-49.422-85.603h98.846z" fill="#1aff1a" stroke="#4b0092" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="3" />
              <text transform="translate(747.22,281.96)" x="-638.6911" y="62.574936" font-family="'Times New Roman'"
                font-size="37.284px" stroke-width="1.5535" style="font-variant-ligatures:none;line-height:1.25">
                <tspan x="-638.6911" y="62.574936" font-family="Tahoma" font-size="37.284px" stroke-width="1.5535"
                  style="font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:none;font-variant-numeric:normal">
                  W</tspan>
              </text>
            </g>
          </g>
        </svg>

      </figure>
    </section> <!-- bridge-panel-area -->

  </article>

  <section id="plotBay">
    <aside id="plot-bay-loading" class="visually-hidden load-indicator-text">
      Plot loading...
    </aside>
  </section>

  <!-- The Modal -->
  <section id="modal" class="visually-hidden">
    <!-- Modal content -->
    <div id="modal-body">
      <div id="modal-content">
        <!-- Gets filled by JS -->
      </div>
      <div id="modal-buttons">
        <button id="modal-confirm-button">Confirm</button>
        <button id="modal-cancel-button">Cancel</button>
      </div>
    </div>
  </section>
</main>


{% endblock %}